<a href="https://colab.research.google.com/github/punctuationmarks/Python-Libraries/blob/master/Pandas_GC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quick tutorial on Pandas

[Pandas 0.24.1 Docs](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [0]:
import pandas as pd

## CSV Dataframe and Basics

In [0]:
# downloading some open data on supermarkets from Niagara in CSV format
!wget https://niagaraopendata.ca/dataset/9e5d3a3b-5ca2-40be-8a9c-e28fc8594bcf/resource/26b2094b-62c0-43c6-92af-995589dcff6f/download/supermarkets.csv

--2019-02-15 13:25:08--  https://niagaraopendata.ca/dataset/9e5d3a3b-5ca2-40be-8a9c-e28fc8594bcf/resource/26b2094b-62c0-43c6-92af-995589dcff6f/download/supermarkets.csv
Resolving niagaraopendata.ca (niagaraopendata.ca)... 35.183.23.180
Connecting to niagaraopendata.ca (niagaraopendata.ca)|35.183.23.180|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10630 (10K) [text/csv]
Saving to: ‘supermarkets.csv.1’

supermarkets.csv.1  100%[===================>]  10.38K  --.-KB/s    in 0s

2019-02-15 13:25:09 (256 MB/s) - ‘supermarkets.csv.1’ saved [10630/10630]

In [0]:
# reading the csv file
supermarkets_dataframe= pd.read_csv("supermarkets.csv")

[Pandas Doc on .read_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [0]:
# showing the shape of your dataframe
supermarkets_dataframe.shape

(98, 10)

### Want to know what the columns are without printing the entire thing?
### mulitple ways of doing that:

In [0]:
list(supermarkets_dataframe.columns.values)

['FacilityName',
 'StreeetNo',
 'StreetName_Suffix',
 'StreetDirection',
 'UnitNumber',
 'Municipality',
 'Telephone',
 'Fax',
 'LONGITUDE',
 'LATITUDE']

In [0]:
list(supermarkets_dataframe)

['FacilityName',
 'StreeetNo',
 'StreetName_Suffix',
 'StreetDirection',
 'UnitNumber',
 'Municipality',
 'Telephone',
 'Fax',
 'LONGITUDE',
 'LATITUDE']

In [0]:
supermarkets_dataframe.columns.tolist()

['FacilityName',
 'StreeetNo',
 'StreetName_Suffix',
 'StreetDirection',
 'UnitNumber',
 'Municipality',
 'Telephone',
 'Fax',
 'LONGITUDE',
 'LATITUDE']

### Just the top of the dataframe:

In [0]:
# want the just the top 5 items?
supermarkets_dataframe.head()

,FacilityName,StreeetNo,StreetName_Suffix,StreetDirection,UnitNumber,Municipality,Telephone,Fax,LONGITUDE,LATITUDE
0,No Frills,1135,Thompson Road,NaN,NaN,Fort Erie,(905) 994-8254,(905) 994-8257,-78.943570,42.907646
1,Sobey's,450,Garrison Road,NaN,NaN,Fort Erie,(905) 871-0463,(905) 871-5044,-78.930172,42.906526
2,Shoppers Drug Mart,42,St Andrews Avenue,NaN,1,Grimsby,(905) 945-9775,(905) 945-7705,-79.567445,43.196735
3,Shoppers Drug Mart,5125,Montrose Road,NaN,NaN,Niagara Falls,(905) 357-1100,NaN,-79.124718,43.099482
4,Busy Bee Food Mart,5203,Victoria Avenue,NaN,NaN,Niagara Falls,(905) 353-8382,NaN,-79.073334,43.099088

In [0]:
# (you can specify how many items inside of head())
# for example:
supermarkets_dataframe.head(10)

,FacilityName,StreeetNo,StreetName_Suffix,StreetDirection,UnitNumber,Municipality,Telephone,Fax,LONGITUDE,LATITUDE
0,No Frills,1135,Thompson Road,NaN,NaN,Fort Erie,(905) 994-8254,(905) 994-8257,-78.943570,42.907646
1,Sobey's,450,Garrison Road,NaN,NaN,Fort Erie,(905) 871-0463,(905) 871-5044,-78.930172,42.906526
2,Shoppers Drug Mart,42,St Andrews Avenue,NaN,1,Grimsby,(905) 945-9775,(905) 945-7705,-79.567445,43.196735
3,Shoppers Drug Mart,5125,Montrose Road,NaN,NaN,Niagara Falls,(905) 357-1100,NaN,-79.124718,43.099482
4,Busy Bee Food Mart,5203,Victoria Avenue,NaN,NaN,Niagara Falls,(905) 353-8382,NaN,-79.073334,43.099088
5,Big Bee Convenience & Food Mart,81,Queenston Street,NaN,NaN,St. Catharines,(905) 984-6632,NaN,-79.235640,43.163541
6,Outlet Collection at Niagara- Pepper Palace,300,Taylor Rd.,NaN,729,Niagara-on-the-Lake,(905) 685-3232,NaN,-79.172008,43.158898
7,Celi & Presti Supermarket,390,Crowland Avenue,NaN,NaN,Welland,(905) 734-7166,905-734-7067,-79.235855,42.984365
8,Polonez Meat Market,25,Facer Street,NaN,NaN,St. Catharines,(905) 938-0348,NaN,-79.227324,43.175326
9,Walmart,102,Primeway Drive,NaN,NaN,Welland,(905) 735-3500,NaN,-79.227853,43.016872

In [0]:
# you can also grab the last 5 rows with tail()
supermarkets_dataframe.tail()

,FacilityName,StreeetNo,StreetName_Suffix,StreetDirection,UnitNumber,Municipality,Telephone,Fax,LONGITUDE,LATITUDE
93,Giant Tiger,350,Scott Street,NaN,NaN,St. Catharines,(905) 934-7823,NaN,-79.232266,43.187027
94,Giant Tiger,120,Welland Avenue,NaN,NaN,St. Catharines,(905) 685-1167,NaN,-79.245427,43.163467
95,Giant Tiger,20,Highway 20,East,NaN,Pelham,(905) 892-5735,NaN,-79.282867,43.045084
96,Giant Tiger,36,Main Street,West,NaN,Grimsby,(905) 309-4511,NaN,-79.561269,43.194484
97,Giant Tiger,249,St Catharines Street,NaN,NaN,West Lincoln,(905) 957-1855,NaN,-79.537802,43.095392

### Specific Colum:

In [0]:
# want to see everything in a specific column?
supermarkets_dataframe['FacilityName'].head(10)

0                                      No Frills
1                                        Sobey's
2                             Shoppers Drug Mart
3                             Shoppers Drug Mart
4                             Busy Bee Food Mart
5                Big Bee Convenience & Food Mart
6    Outlet Collection at Niagara- Pepper Palace
7                      Celi & Presti Supermarket
8                            Polonez Meat Market
9                                        Walmart
Name: FacilityName, dtype: object

In [0]:
# want to see all the business names and their phone number?
# Pandas takes a list for indexing, so if you have mutliple indexes you want
# put them in a list inside the index brackets []
supermarkets_dataframe[['FacilityName', 'Telephone']].head(10)

                                  FacilityName       Telephone
0                                    No Frills  (905) 994-8254
1                                      Sobey's  (905) 871-0463
2                           Shoppers Drug Mart  (905) 945-9775
3                           Shoppers Drug Mart  (905) 357-1100
4                           Busy Bee Food Mart  (905) 353-8382
5              Big Bee Convenience & Food Mart  (905) 984-6632
6  Outlet Collection at Niagara- Pepper Palace  (905) 685-3232
7                    Celi & Presti Supermarket  (905) 734-7166
8                          Polonez Meat Market  (905) 938-0348
9                                      Walmart  (905) 735-3500

### Specific Index
#### *Disclaimer*, using dataframe.set_index() actually mainpulates the dateframe, so it is good practice just to make a new dataframe (with intiailizing a new dataframe variable name) if you aren't worried about memory.  
#### If you are worried about memory or just want to manipulate the original database, here's the syntax:


```
dataframe = dataframe.set_index('Desired_Index', inplace=True)
```



*Example given below is showing a new dataframe*

In [0]:
# want to have something as your main index?
# use pandas' set_index()
phone_indexed_supermarket_dataframe = supermarkets_dataframe.set_index('Telephone')
phone_indexed_supermarket_dataframe.head()

,FacilityName,StreeetNo,StreetName_Suffix,StreetDirection,UnitNumber,Municipality,Fax,LONGITUDE,LATITUDE
Telephone,,,,,,,,,
(905) 994-8254,No Frills,1135,Thompson Road,NaN,NaN,Fort Erie,(905) 994-8257,-78.943570,42.907646
(905) 871-0463,Sobey's,450,Garrison Road,NaN,NaN,Fort Erie,(905) 871-5044,-78.930172,42.906526
(905) 945-9775,Shoppers Drug Mart,42,St Andrews Avenue,NaN,1,Grimsby,(905) 945-7705,-79.567445,43.196735
(905) 357-1100,Shoppers Drug Mart,5125,Montrose Road,NaN,NaN,Niagara Falls,NaN,-79.124718,43.099482
(905) 353-8382,Busy Bee Food Mart,5203,Victoria Avenue,NaN,NaN,Niagara Falls,NaN,-79.073334,43.099088

In [0]:
# what if we'd rather just have the original without having
# the zero indexed index as the rows?
# you can do that right when you're reading the dataframe 
index_column_zero = pd.read_csv("supermarkets.csv", index_col=0)
index_column_zero.head()

,StreeetNo,StreetName_Suffix,StreetDirection,UnitNumber,Municipality,Telephone,Fax,LONGITUDE,LATITUDE
FacilityName,,,,,,,,,
No Frills,1135,Thompson Road,NaN,NaN,Fort Erie,(905) 994-8254,(905) 994-8257,-78.943570,42.907646
Sobey's,450,Garrison Road,NaN,NaN,Fort Erie,(905) 871-0463,(905) 871-5044,-78.930172,42.906526
Shoppers Drug Mart,42,St Andrews Avenue,NaN,1,Grimsby,(905) 945-9775,(905) 945-7705,-79.567445,43.196735
Shoppers Drug Mart,5125,Montrose Road,NaN,NaN,Niagara Falls,(905) 357-1100,NaN,-79.124718,43.099482
Busy Bee Food Mart,5203,Victoria Avenue,NaN,NaN,Niagara Falls,(905) 353-8382,NaN,-79.073334,43.099088

## Some Basic functions

In [0]:
# let's grab some stock data so we can play with some math functions
# we'll need some more imports for this
import datetime as dt
import pandas_datareader.data as web

In [0]:
# setting starting and ending time for our stock data
start = dt.datetime(1970, 1, 1)
end = dt.datetime(1999, 12, 31)

# building a temporary dataframe with extended library pandas_datareader
# set stock ticker, location you want to grab from and start and end time frames
stock_dataframe = web.DataReader('IBM', 'yahoo', start, end)

In [0]:
stock_dataframe.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
1970-01-02  18.287500  18.200001  18.225000  18.237499  315200.0   1.586048
1970-01-05  18.412500  18.299999  18.299999  18.412500  424000.0   1.601267
1970-01-06  18.450001  18.312500  18.412500  18.424999  488000.0   1.602353
1970-01-07  18.437500  18.312500  18.424999  18.437500  457600.0   1.603441
1970-01-08  18.475000  18.375000  18.437500  18.475000  707200.0   1.606701

In [0]:
stock_dataframe.tail()

              High       Low      Open     Close     Volume  Adj Close
Date
1999-12-27  110.00  108.1250  109.6875  109.7500  3740700.0  74.889168
1999-12-28  110.75  109.0625  109.5625  109.8125  4083100.0  74.931770
1999-12-29  110.50  108.7500  110.4375  109.0000  2683300.0  74.377373
1999-12-30  110.50  108.5625  109.6875  108.7500  3435100.0  74.206757
1999-12-31  109.50  106.6250  109.1875  107.8750  2870300.0  73.609703

In [0]:
# Max, Min, and Sum also work on Pandas dataframes
print("Minimum High for 30 years:")
print(stock_dataframe['High'].min())
print()
print("Max high for 30 years:")
print(stock_dataframe['High'].max())
print()
print('Pointless, just showing for theory')
print("Addition of all highs and all lows:")
print(stock_dataframe[['High', 'Low']].sum())

Minimum High for 30 years:
9.828125

Max high for 30 years:
139.1875

Pointless, just showing for theory
Addition of all highs and all lows:
High    204091.617952
Low     199941.779654
dtype: float64

In [0]:
# you can also use pandas to mutliply or scale columns
scaled_high_increase_25_percent = (stock_dataframe['High'] * 1.25)
scaled_high_increase_25_percent.head()

Date
1970-01-02    22.859375
1970-01-05    23.015625
1970-01-06    23.062501
1970-01-07    23.046875
1970-01-08    23.093750
Name: High, dtype: float64

In [0]:
# want some statically oriented data quickly?
stock_dataframe.describe()

,High,Low,Open,Close,Volume,Adj Close
count,7582.000000,7582.000000,7582.000000,7582.000000,7.582000e+03,7582.000000
mean,26.917913,26.370586,26.646797,26.641231,5.126465e+06,9.307288
std,19.235633,18.660650,18.966123,18.947208,5.065363e+06,15.028629
min,9.828125,9.406250,9.500000,9.500000,0.000000e+00,0.891098
25%,16.156250,15.906250,16.031250,16.031250,1.363200e+06,1.744480
50%,20.906250,20.562500,20.734375,20.750000,3.978200e+06,4.503982
75%,30.406250,29.875000,30.125000,30.125000,7.217600e+06,8.612196
max,139.187500,136.187500,138.312500,137.875000,6.944470e+07,93.863945

In [0]:
# Need some specific percetiles?
  # describe is somewhat customizeable too
  # DataFrame.describe(percentiles=None, include=None, exclude=None)
  # include/exclude takes list of typese
stock_dataframe.describe(percentiles=[.15, .23, .87])

,High,Low,Open,Close,Volume,Adj Close
count,7582.000000,7582.000000,7582.000000,7582.000000,7.582000e+03,7582.000000
mean,26.917913,26.370586,26.646797,26.641231,5.126465e+06,9.307288
std,19.235633,18.660650,18.966123,18.947208,5.065363e+06,15.028629
min,9.828125,9.406250,9.500000,9.500000,0.000000e+00,0.891098
15%,14.687500,14.406250,14.531250,14.539375,8.960000e+05,1.579655
23%,15.900000,15.656250,15.781250,15.781250,1.246400e+06,1.724970
50%,20.906250,20.562500,20.734375,20.750000,3.978200e+06,4.503982
87%,37.389688,36.625000,37.014688,37.014688,9.748912e+06,16.316014
max,139.187500,136.187500,138.312500,137.875000,6.944470e+07,93.863945

## Going from some dictionary data and build a data frame with pandas

In [0]:
running_history_dictionary = {'Day' : [1,2,3,4,5,6,7],
                   'Miles': [9.5, 3.5, 3.4, 2.7, 5.5, 0, 8],
                   'Duration': ["1:55:00", "0:25:00","0:27:00","0:23:00","0:47:00","0:00:00","1:25:00"]
                   }

running_history_dataframe = pd.DataFrame(running_history_dictionary)

In [0]:
# just making sure the df works
running_history_dataframe.head()

   Day Duration  Miles
0    1  1:55:00    9.5
1    2  0:25:00    3.5
2    3  0:27:00    3.4
3    4  0:23:00    2.7
4    5  0:47:00    5.5

## Take your data frame and convert it to a CSV file

In [0]:
# pandas.to_csv()
running_history_dataframe.to_csv('running_history_dataframe.csv')

[Padas doc on dataframe.to_csv()]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html?highlight=to_csv#pandas.DataFrame.to_csv)

 [Padas doc on Panel.to_csv()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Panel.to_csv.html?highlight=to_csv#pandas.Panel.to_csv)

 [Padas doc on Series.to_csv() ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.to_csv.html?highlight=to_csv#pandas.Series.to_csv)

In [0]:
# want to not have any headers in your csv file? set headers to False
running_history_dataframe.to_csv('running_history_dataframe_no_headers.csv', header=False)

### Loading a CSV file without headers

In [0]:
# Have just a bunch of data and no headers?
# and after some research you figure out whateverthing means?
# Add them in a list under name, and 
running_dataframe_no_headers = pd.read_csv('running_history_dataframe_no_headers.csv', 
                                names=['Day', 'How long?', 'Miles'])

In [0]:
running_dataframe_no_headers.head()

   Day How long?  Miles
0    1   1:55:00    9.5
1    2   0:25:00    3.5
2    3   0:27:00    3.4
3    4   0:23:00    2.7
4    5   0:47:00    5.5

## Converting to HTML

In [0]:
# synatx is dataframe.to_html('whatever_you_want_to_call_it.html')
running_dataframe_no_headers.to_html('running_no_headers.html')

## Dataframe/Table Manipulation

In [0]:
# want to rename the columns in your data frame?

running_history_dataframe.columns = ["Day of the Week", "Time Duration", "Miles"]

running_history_dataframe.head()

   Day of the Week Time Duration  Miles
0                1       1:55:00    9.5
1                2       0:25:00    3.5
2                3       0:27:00    3.4
3                4       0:23:00    2.7
4                5       0:47:00    5.5

In [0]:
# You can also use .rename() to rename individual columns, 
# specify the original then rename it in a dictionary

running_history_dataframe.rename(columns={"Time Duration":"Time"},
                                 inplace=True)

running_history_dataframe.head()

   Day of the Week     Time  Miles
0                1  1:55:00    9.5
1                2  0:25:00    3.5
2                3  0:27:00    3.4
3                4  0:23:00    2.7
4                5  0:47:00    5.5

### Combining Tables

In [0]:
# building another table to combine with running_history
# BUT we're going to be skipping some days

workingout_history_dictionary = {'Day of the Week' : [1,3,4,5,6,8,10],
                   'Gym/Outdoors': ["Gym", "Outdoors", "Gym", "Outdoors", "Outdoors", "Outdoors", "Outdoors"],
                   'Time': ["20:00", "20:00","20:00","20:00","25:00", "20:00", "20:00"]
                   }

workingout_history_dataframe = pd.DataFrame(workingout_history_dictionary)

In [0]:
workingout_history_dataframe.head()

   Day of the Week Gym/Outdoors   Time
0                1          Gym  20:00
1                3     Outdoors  20:00
2                4          Gym  20:00
3                5     Outdoors  20:00
4                6     Outdoors  25:00

In [0]:
# seeing what our columns are

print("Working out columns :", workingout_history_dataframe.columns)
print()
print("Running columns :", running_history_dataframe.columns)
print()

Working out columns : Index(['Day of the Week', 'Gym/Outdoors', 'Time'], dtype='object')

Running columns : Index(['Day of the Week', 'Time', 'Miles'], dtype='object')

#### Concatonation
This pretty much just concatenates  one dataframe to another, so it might look messy

In [0]:
concatenate = pd.concat([workingout_history_dataframe, running_history_dataframe])
concatenate

   Day of the Week Gym/Outdoors  Miles     Time
0                1          Gym    NaN    20:00
1                3     Outdoors    NaN    20:00
2                4          Gym    NaN    20:00
3                5     Outdoors    NaN    20:00
4                6     Outdoors    NaN    25:00
5                8     Outdoors    NaN    20:00
6               10     Outdoors    NaN    20:00
0                1          NaN    9.5  1:55:00
1                2          NaN    3.5  0:25:00
2                3          NaN    3.4  0:27:00
3                4          NaN    2.7  0:23:00
4                5          NaN    5.5  0:47:00
5                6          NaN    0.0  0:00:00
6                7          NaN    8.0  1:25:00

#### Appending
This literally just appends the data from one dataframe onto another dataframe
(Kinda similar with concatenate)

In [0]:
appending = workingout_history_dataframe.append(running_history_dataframe)
appending

   Day of the Week Gym/Outdoors  Miles     Time
0                1          Gym    NaN    20:00
1                3     Outdoors    NaN    20:00
2                4          Gym    NaN    20:00
3                5     Outdoors    NaN    20:00
4                6     Outdoors    NaN    25:00
5                8     Outdoors    NaN    20:00
6               10     Outdoors    NaN    20:00
0                1          NaN    9.5  1:55:00
1                2          NaN    3.5  0:25:00
2                3          NaN    3.4  0:27:00
3                4          NaN    2.7  0:23:00
4                5          NaN    5.5  0:47:00
5                6          NaN    0.0  0:00:00
6                7          NaN    8.0  1:25:00

#### Merging
Ignores Index, but also as default only merges on things that are similar

( so since we have a missing day in workingout_history_dataframe, that whole row is missing even though the data is there in running_history_dataframe)

In [0]:
merge_default = pd.merge(workingout_history_dataframe, 
                         running_history_dataframe, 
                         on='Day of the Week')
merge_default

   Day of the Week Gym/Outdoors Time_x   Time_y  Miles
0                1          Gym  20:00  1:55:00    9.5
1                3     Outdoors  20:00  0:27:00    3.4
2                4          Gym  20:00  0:23:00    2.7
3                5     Outdoors  20:00  0:47:00    5.5
4                6     Outdoors  25:00  0:00:00    0.0

In [0]:
# so this is the same syntax, but we are merging on running_history_dataframe 
# (the second table, the "right" one, inside .merge())
# which has all 7 days info
merge_right = pd.merge(workingout_history_dataframe, 
                       running_history_dataframe, 
                       on='Day of the Week', 
                       how='right')
merge_right

   Day of the Week Gym/Outdoors Time_x   Time_y  Miles
0                1          Gym  20:00  1:55:00    9.5
1                3     Outdoors  20:00  0:27:00    3.4
2                4          Gym  20:00  0:23:00    2.7
3                5     Outdoors  20:00  0:47:00    5.5
4                6     Outdoors  25:00  0:00:00    0.0
5                2          NaN    NaN  0:25:00    3.5
6                7          NaN    NaN  1:25:00    8.0

In [0]:
# so this is the same syntax as right, but we are merging on workingout_history_dataframe 
# (the first table, the "left" one, inside .merge())
# which has missing info so the output table reflects that

merge_left = pd.merge(workingout_history_dataframe, 
                      running_history_dataframe, 
                      on='Day of the Week', 
                      how='left')

merge_left

   Day of the Week Gym/Outdoors Time_x   Time_y  Miles
0                1          Gym  20:00  1:55:00    9.5
1                3     Outdoors  20:00  0:27:00    3.4
2                4          Gym  20:00  0:23:00    2.7
3                5     Outdoors  20:00  0:47:00    5.5
4                6     Outdoors  25:00  0:00:00    0.0
5                8     Outdoors  20:00      NaN    NaN
6               10     Outdoors  20:00      NaN    NaN

In [0]:
# outer - merges on the union of the keys
# ALL OF THE DATA WILL BE REPRESENTED
merge_outer = pd.merge(workingout_history_dataframe, 
                      running_history_dataframe, 
                      on='Day of the Week', 
                      how='outer')

merge_outer

   Day of the Week Gym/Outdoors Time_x   Time_y  Miles
0                1          Gym  20:00  1:55:00    9.5
1                3     Outdoors  20:00  0:27:00    3.4
2                4          Gym  20:00  0:23:00    2.7
3                5     Outdoors  20:00  0:47:00    5.5
4                6     Outdoors  25:00  0:00:00    0.0
5                8     Outdoors  20:00      NaN    NaN
6               10     Outdoors  20:00      NaN    NaN
7                2          NaN    NaN  0:25:00    3.5
8                7          NaN    NaN  1:25:00    8.0

In [0]:
# inner - merges where the keys intersect
# this is the same as the default
# Anything that both tables have on 'Day of the Week' will be represented
merge_inner = pd.merge(workingout_history_dataframe, 
                      running_history_dataframe, 
                      on='Day of the Week', 
                      how='inner')

merge_inner

   Day of the Week Gym/Outdoors Time_x   Time_y  Miles
0                1          Gym  20:00  1:55:00    9.5
1                3     Outdoors  20:00  0:27:00    3.4
2                4          Gym  20:00  0:23:00    2.7
3                5     Outdoors  20:00  0:47:00    5.5
4                6     Outdoors  25:00  0:00:00    0.0

### Joining databases
This is where Index is honored and must be focused

The tables share an index, but no columns

In [0]:
# Psuedo data
df1 = pd.DataFrame({'Column1':[1, 2, 3, 4, 5],
                   'Column2':['a', 'b', 'c', 'd', 'e']})

df2 = pd.DataFrame({'Column1':[1, 2, 3, 4, 5],
                   'Col2':['A', 'B', 'C', 'D', 'E']})


# set the indexes
df1.set_index('Column1', inplace=True)
df2.set_index('Column1', inplace=True)

# joining
joined = df1.join(df2)
joined

        Column2 Col2
Column1
1             a    A
2             b    B
3             c    C
4             d    D
5             e    E

### Pickling
Pickling is the process of saving data in binary and then reading it from binary.
There is a pickle library and also one built into Pandas

In [0]:

import pickle

In [0]:
# what you're calling what you want to save and write binary
pickle_out = open('joined.pickle', 'wb')
# actually pushing the dataframe into the .pickle
pickle.dump(joined, pickle_out)
# writing the .pickle
pickle_out.close()

In [0]:
# reading the pickle data ('read binary')
pickle_in = open('joined.pickle', 'rb')
# loading the pickle data
joined_table = pickle.load(pickle_in)

joined_table.head()

        Column2 Col2
Column1
1             a    A
2             b    B
3             c    C
4             d    D
5             e    E

In [0]:
# using the pandas way 
joined_table_2 = joined.to_pickle('pandas_pickled.pickle')

In [0]:
joined_table_from_pickle = pd.read_pickle('pandas_pickled.pickle')

joined_table_from_pickle

        Column2 Col2
Column1
1             a    A
2             b    B
3             c    C
4             d    D
5             e    E

## Modifying Columns

In [0]:
# you can just create a new column by definining it like so:
joined_table_from_pickle['New Colum'] = [5, 4, 3, 2, 1]
joined_table_from_pickle

        Column2 Col2  New Colum
Column1
1             a    A          5
2             b    B          4
3             c    C          3
4             d    D          2
5             e    E          1

In [0]:
# you can also perform mathematical operations on the tables

joined_table_from_pickle['New Colum * 2'] = joined_table_from_pickle['New Colum'] * 2
joined_table_from_pickle

        Column2 Col2  New Colum  New Colum * 2
Column1
1             a    A          5             10
2             b    B          4              8
3             c    C          3              6
4             d    D          2              4
5             e    E          1              2


## CSV Files that aren't seperated by commas

In [0]:
# just change your sep value by whatever the separator is 
csv_by_something_besides_commas = pd.read_csv("filename", sep=";")

## JSON Dataframes

In [0]:
# downloading some open data on municipal facilities from Niagara in JSON format

!wget https://niagaraopendata.ca/dataset/3df47541-47bf-4cd9-9aa3-3a64b78903a7/resource/9fdd9507-cfd6-4448-bde6-1ea2b320d0d1/download/city-of-welland-municipal-facilities.json

--2019-02-15 13:25:53--  https://niagaraopendata.ca/dataset/3df47541-47bf-4cd9-9aa3-3a64b78903a7/resource/9fdd9507-cfd6-4448-bde6-1ea2b320d0d1/download/city-of-welland-municipal-facilities.json
Resolving niagaraopendata.ca (niagaraopendata.ca)... 35.183.23.180
Connecting to niagaraopendata.ca (niagaraopendata.ca)|35.183.23.180|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15284 (15K) [application/json]
Saving to: ‘city-of-welland-municipal-facilities.json’

city-of-welland-mun 100%[===================>]  14.93K  --.-KB/s    in 0s

2019-02-15 13:25:53 (340 MB/s) - ‘city-of-welland-municipal-facilities.json’ saved [15284/15284]

In [0]:
municipal_facilities_JSON = pd.read_json("city-of-welland-municipal-facilities.json")

In [0]:
municipal_facilities_JSON.shape

(59, 1)

##XLS Dataframes

In [0]:
# downloading some open data on construction activity from Niagara in XLS format

!wget https://niagaraopendata.ca/dataset/a0618cc8-3424-4db0-bbc5-e7bd8ab6c7d9/resource/37cf36fb-8d36-4f5a-aa25-fd9676f832ee/download/city-of-welland-construction-activity.xls

--2019-02-15 13:26:04--  https://niagaraopendata.ca/dataset/a0618cc8-3424-4db0-bbc5-e7bd8ab6c7d9/resource/37cf36fb-8d36-4f5a-aa25-fd9676f832ee/download/city-of-welland-construction-activity.xls
Resolving niagaraopendata.ca (niagaraopendata.ca)... 35.183.23.180
Connecting to niagaraopendata.ca (niagaraopendata.ca)|35.183.23.180|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14848 (14K) [application/vnd.ms-excel]
Saving to: ‘city-of-welland-construction-activity.xls’

city-of-welland-con 100%[===================>]  14.50K  --.-KB/s    in 0s

2019-02-15 13:26:05 (336 MB/s) - ‘city-of-welland-construction-activity.xls’ saved [14848/14848]

In [0]:
# so with XLS files, and you might want to pass in another parameter for which sheet
# (since they're excel files they might have multiple sheets)
# syntax is sheetname= "literal named sheet" or index (zeroed index)
construction_activity_xls = pd.read_excel("city-of-welland-construction-activity.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [0]:
# Returning just the project name
print(construction_activity_xls["ProjName"])

0            Canal View Heights Subdivision
1               Sparrow Meadows Phase 3 - 6
2    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
3    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
4    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
5    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
6    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
7    EDGAR/ELGIN SEWER SEPARATION (PHASE 1)
Name: ProjName, dtype: object

## Need some help with pandas dataframe functions?
#### *Note*, these work in Jupyter Notebooks/Colab Notebooks

In [0]:
# try
pandas.read_csv?

In [0]:
# try ? for all of them
pandas.read_excel?

# Database cleaning from HTML table - straight forward example

In [0]:
# import regex for cleaning
import re

In [0]:
pandas_wiki_full = pd.read_html("https://en.wikipedia.org/wiki/List_of_Billboard_Year-End_number-one_singles_and_albums")

In [0]:
# this is to grab the first element of the Series object that the .read_html
# produces, which in turn is treated as a dataframe once this is done

# this can also be acheived by using pandas' .to_frame()

top_40_df_straight_manipulation = pandas_wiki_full[0]

In [0]:
top_40_df_straight_manipulation.head()

,0,1,2,3,4,5,6
0,Year,Pop,R&B/Soul/Hip-hop,Country,NaN,NaN,NaN
1,Single,Album,Single,Album,Single,Album,NaN
2,1946,"""Prisoner of Love""[1]Perry Como",—,"""Hey! Ba-Ba-Re-Bop""[2]Lionel Hampton",—,"""New Spanish Two Step""[3]Bob Wills",—
3,1947,"""Near You""[4]Francis Craig",—,"""Ain't Nobody Here But Us Chickens""[5]Louis Jo...",—,"""Smoke! Smoke! Smoke! (That Cigarette)""[6]Tex ...",—
4,1948,"""Twelfth Street Rag""[7]Pee Wee Hunt",—,"""Long Gone""[8]Sonny Thompson",—,"""Bouquet of Roses""[9]Eddy Arnold",—

In [0]:
top_40_df_straight_manipulation = top_40_df_straight_manipulation.drop([0, 1])

In [0]:
top_40_df_straight_manipulation.head()

,0,1,2,3,4,5,6
2,1946,"""Prisoner of Love""[1]Perry Como",—,"""Hey! Ba-Ba-Re-Bop""[2]Lionel Hampton",—,"""New Spanish Two Step""[3]Bob Wills",—
3,1947,"""Near You""[4]Francis Craig",—,"""Ain't Nobody Here But Us Chickens""[5]Louis Jo...",—,"""Smoke! Smoke! Smoke! (That Cigarette)""[6]Tex ...",—
4,1948,"""Twelfth Street Rag""[7]Pee Wee Hunt",—,"""Long Gone""[8]Sonny Thompson",—,"""Bouquet of Roses""[9]Eddy Arnold",—
5,1949,"""Riders in the Sky""[10]Vaughn Monroe Orchestra",—,"""The Hucklebuck""[11]Paul Williams",—,"""Lovesick Blues""[12]Hank Williams and the Drif...",—
6,1950,"""Goodnight, Irene""[13]Gordon Jenkins and The W...",—,"""Pink Champagne""[14]Joe Liggins",—,"""I'm Movin' On""[15]Hank Snow",—

In [0]:
top_40_df_straight_manipulation.columns = ["Year", "Pop", "Blank_", "R&B/Hip Hop", "Blank__", "Country", "Blank___" ]

In [0]:
top_40_df_straight_manipulation.set_index("Year", inplace=True)

In [0]:
top_40_df_straight_manipulation.head()

,Pop,Blank_,R&B/Hip Hop,Blank__,Country,Blank___
Year,,,,,,
1946,"""Prisoner of Love""[1]Perry Como",—,"""Hey! Ba-Ba-Re-Bop""[2]Lionel Hampton",—,"""New Spanish Two Step""[3]Bob Wills",—
1947,"""Near You""[4]Francis Craig",—,"""Ain't Nobody Here But Us Chickens""[5]Louis Jo...",—,"""Smoke! Smoke! Smoke! (That Cigarette)""[6]Tex ...",—
1948,"""Twelfth Street Rag""[7]Pee Wee Hunt",—,"""Long Gone""[8]Sonny Thompson",—,"""Bouquet of Roses""[9]Eddy Arnold",—
1949,"""Riders in the Sky""[10]Vaughn Monroe Orchestra",—,"""The Hucklebuck""[11]Paul Williams",—,"""Lovesick Blues""[12]Hank Williams and the Drif...",—
1950,"""Goodnight, Irene""[13]Gordon Jenkins and The W...",—,"""Pink Champagne""[14]Joe Liggins",—,"""I'm Movin' On""[15]Hank Snow",—

In [0]:
top_40_df_straight_manipulation = top_40_df_straight_manipulation.drop(["Blank_", "Blank__", "Blank___"], axis=1)

In [0]:
top_40_df_straight_manipulation.head()

,Pop,R&B/Hip Hop,Country
Year,,,
1946,"""Prisoner of Love""[1]Perry Como","""Hey! Ba-Ba-Re-Bop""[2]Lionel Hampton","""New Spanish Two Step""[3]Bob Wills"
1947,"""Near You""[4]Francis Craig","""Ain't Nobody Here But Us Chickens""[5]Louis Jo...","""Smoke! Smoke! Smoke! (That Cigarette)""[6]Tex ..."
1948,"""Twelfth Street Rag""[7]Pee Wee Hunt","""Long Gone""[8]Sonny Thompson","""Bouquet of Roses""[9]Eddy Arnold"
1949,"""Riders in the Sky""[10]Vaughn Monroe Orchestra","""The Hucklebuck""[11]Paul Williams","""Lovesick Blues""[12]Hank Williams and the Drif..."
1950,"""Goodnight, Irene""[13]Gordon Jenkins and The W...","""Pink Champagne""[14]Joe Liggins","""I'm Movin' On""[15]Hank Snow"

In [0]:
# need to get rid of those pesky reference numbers 
regex_exp = re.compile("[\[0-9\]]")

In [0]:
top_40_df_straight_manipulation["Pop"] = top_40_df_straight_manipulation["Pop"].str.replace(regex_exp, ' ')

In [0]:
top_40_df_straight_manipulation["R&B/Hip Hop"] = top_40_df_straight_manipulation["R&B/Hip Hop"].str.replace(regex_exp, ' ')

In [0]:
top_40_df_straight_manipulation["Country"] = top_40_df_straight_manipulation["Country"].str.replace(regex_exp, ' ')

In [0]:
top_40_df_straight_manipulation.head()

,Pop,R&B/Hip Hop,Country
Year,,,
1946,"""Prisoner of Love"" Perry Como","""Hey! Ba-Ba-Re-Bop"" Lionel Hampton","""New Spanish Two Step"" Bob Wills"
1947,"""Near You"" Francis Craig","""Ain't Nobody Here But Us Chickens"" Louis Jo...","""Smoke! Smoke! Smoke! (That Cigarette)"" Tex ..."
1948,"""Twelfth Street Rag"" Pee Wee Hunt","""Long Gone"" Sonny Thompson","""Bouquet of Roses"" Eddy Arnold"
1949,"""Riders in the Sky"" Vaughn Monroe Orchestra","""The Hucklebuck"" Paul Williams","""Lovesick Blues"" Hank Williams and the Drif..."
1950,"""Goodnight, Irene"" Gordon Jenkins and The W...","""Pink Champagne"" Joe Liggins","""I'm Movin' On"" Hank Snow"